*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}

@font-face { 
font-family: GothamHTF-Bold;
src: url(fonts/GothamHTF-Bold.otf);
}
@font-face { 
font-family: GothamHTF-Light;
src: url(fonts/GothamHTF-Light.otf);
}
@font-face { 
font-family: GothamHTF-Medium;
src: url(fonts/GothamHTF-Medium.otf);
}
@font-face { 
font-family: DroidSerif-Regular;
src: url(fonts/DroidSerif-Regular.ttf);
}
@font-face { 
font-family: DroidSerif-Bold;
src: url(fonts/DroidSerif-Bold.ttf);
}
@font-face { 
font-family: Moonllime;
src: url(fonts/Moonllime.ttf);
}
@font-face {
font-family: This is Signature;
src: url(fonts/This is Signature FREE personal use.ttf);
}
@font-face {
font-family: EncodeSansNarrow-Light;
src: url(fonts/EncodeSansNarrow-300-Light.ttf);
}
@font-face {
font-family: EncodeSans-Bold;
src: url(fonts/EncodeSans-Bold.ttf);
}
@font-face {
font-family: EncodeSans-Regular;
src: url(fonts/EncodeSans-Regular.ttf);
}
@font-face {
font-family: SwissEk;
src: url(fonts/SWISSEK.ttf);
}
body{
	font-family: GothamHTF-Bold;
	max-width:1920px;
	background-color: #5CDB95;
	background-size:cover;
 	margin-left: auto;
  	margin-right: auto;
}
/* this is the navigation bar */
header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 10000;
	align-content: center;
	transition:1s;
}
nav{
	margin-top: auto;
	min-width:100%;
	height: auto;
	background-color: #5CDB95;
	padding-bottom: 50px;
	padding-top: 10px;
	transition: 1s;
	height: 280px;
}
nav.sticky{
	padding-bottom: 0px;
	background-color: #8EE4AF;
	height: 90px;
	transition: 1s;
}
nav.sticky .flexed2{
	display: flex;
	transition: 1s;
}
ul{
	list-style-type:none;
	
}
a{ /* anchored texts at the nav bar */
	color:white;
	text-decoration:none;
}


.menu li{
	font-size: 20px;
	margin-right: 60px;
	margin-left: 0px;
}
.items a{	
	text-align: center;
	font-size: 28px;
	display:block;
	color: #EDF5E1;
	text-transform: lowercase;
	cursor: pointer;
	transition: color 0.4s linear;
}

.item a{	
	text-align: center;
	font-size: 28px;
	display:block;
	color: #05386B;
	text-transform: lowercase;
	cursor: pointer;
	transition: color 0.4s linear;
}
.item a:hover{ /* to change color when cursor is hovering the anchored texts */   
	color: #EDF5E1;
}
.logo{
	flex-flow: row wrap;
	margin-top: 50px;
	margin-left: 51px;
	max-width:38%;
	height: auto;
	z-index: 2;
	transition: 1s;
}
nav.sticky .logo{
	margin-top: 3px;
	margin-left: 35px;
	z-index: 2;
}
.menu{
	display:flex;
	align-items: center;	
	padding: 0px 10%;
	position: absolute;
	z-index: 1;
}
nav.sticky .menu{
	position: absolute;
	padding: 30px 38%
}

.flexed{
	transition: 1s;
}
/* this is the line above the cover photo */
.line-container{
	padding-top: 90px;
	padding-left: 90px;
	padding-right: 90px;
}
nav.sticky .line-container{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.line{
	min-width: 100%;
	height: 0px;
	position: relative;
	content = "";
	margin: auto;
	height: 2px;
	background: #EDF5E1;
	width 70%;
	top: 30%%;
	bottom: 0%;
	opacity: 50%;
}

/* this is the search box */
.search-box{
	position: absolute;
	top: 60%;
	right: 130px;
	transform: translate(-0%,-100%);
	background: #EDF5E1;
	max-width: 100%;
	height: auto;
	border-radius: 40px;
	padding: 10px;
	transition: 1s;
	z-index: 7;
}
header.sticky nav{
	padding-top: 3px;
	
}
header.sticky .line{
	width: 0;
	height: 0;
	background: #8EE4AF;
	position: absolute;
}

.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
}
.search-box:hover > .search-btn{
	color: #EDF5E1;
	background: #05386B;
}
.search-btn{
	position: relative;
	color: #05386B;
	float: right;
	width: 30px;
	height: 30px;
	border-radius:50%;
	background: #EDF5E1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}
nav.sticky .search-box{
	top: 80%;
	right: 100px;
}
.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 20px;
	font-family: GothamHTF-Light;
	transition: 0.4s;
	line-height: 30px;
	width: 0px;
}

/* this is the slider */
.slider{
	max-width: 100%;
	height: auto;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
}
.slides input{
	display: none;
}
.slide{
	margin-top: -30px;
	width: 20%;
	transition: 3s;
}
.slide img{
	max-width: 100%;
	height: auto;
}

/* for manual sliding */
.navigation-manual{
	position: absolute;
	width: 1920px;
	margin-top: 560px;
	display: flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid  #EDF5E1;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	margin-right: 40px;
}
.manual-btn:hover{
	background: #EDF5E1;
}

#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}

/* for automatic sliding */
.navigation-auto{
	position: absolute;
	display:flex;
	width: 1920px;
	justify-content: center;
	margin-top: 560px;
}
.navigation-auto div{
	border: 2px solid  #EDF5E1;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.navigation-auto div:not(:last-child){
	margin-right: 40px
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #EDF5E1;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #EDF5E1;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #EDF5E1;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #EDF5E1;
}

footer{
	padding: 50px;
	color: #05386B;
	background-color: #8EE4AF;
}
.footer li{
	line-height: 3em;
}
.box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	list-style-type: none;
	width: 25%;
	margin: 0 auto;
	display: flex;
}
.address {
	text-align: center;
	color: #379683;
}
.box a{
	color: #05386B;
	padding: 0px 10px;
	font-size: 20px;
	transition: 0.4s;
}
.box a:hover{ /* to change color when cursor is hovering the anchored texts */   
	color: #EDF5E1;
}
/*new version of footer*/
.footer-bottom{
	text-align: center;
	color: #379683;
	padding-top: 10px;
}
.socials{
	padding-top: 70px;
	padding-bottom: 20px;
}

.socials a i{
	color: #EDF5E1;
	background: #05386B;
	width: 80px;
	height: 80px;
	display: inline-block;
	padding: 20px 20px;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 100px;
	transition: 0.4s;
}

.socials a i:hover{ /* to change color when cursor is hovering the anchored texts */   
	color: #05386B;
	background: #EDF5E1;
	width: 80px;
	height: 80px;
	display: inline-block;
	padding: 20px 20px;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 100px;
}
.socials a i{
	color: #EDF5E1;
	font-size: 40px;
	align-content: center;
}
@media (max-width: 1250px){
	.menu{
		display: none;
	}
	.footer{
		padding: 15px;
	}
	main{
		font-size: 20px;
	}
}
@media (max-width: 900px){
	.search-box{
		display: none;
	}

}
.iframedes
{	margin-bottom: 80px;
	width: 100%;
	overflow: hidden;
	position: overflow;
	display: block;
	border: 0;
}

.dropdown{
	margin: 0;
}
.navbar{
	border-radius: 50px;
	margin-top: 70px;
	margin-bottom: 30px;
	min-width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 100px;
	background: #8EE4AF;
	z-index: 10;
}
.mains a{
	color: #EDF5E1;
	background: #05386B;
	border-radius: 40px;
}
.navbar ul .mains a {
	color: #EDF5E1;
}

.navbar ul .mains ul .not a{
	float: center;
	background: #EDF5E1;
	position: relative;
	list-style: none;
	display: inline-block;
	border-radius: 35px;
	margin-left: 0px;
	margin-top: 0px;
	width: 308px;
}
.navbar ul .mains ul .not a{
	color: #05386B;
}
.navbar ul li{
	float: center;
	background: #EDF5E1;
	position: relative;
	list-style: none;
	display: inline-block;
	border-radius: 35px;
	margin-left: 25px;
}
.navbar ul li a{
	display:block;
	padding: 0 25px;
	color: #05386B;
	text-decoration: none;
	line-height: 60px;
	transition: 0.4s;
}
.navbar ul ul li{
	float: center;
	background: #EDF5E1;
	position: relative;
	list-style: none;
	display: inline-block;
	border-radius: 35px;
	margin-left: 0px;
	margin-top: 0px;
}
.navbar ul ul{
	position: absolute;
	top: 60px;
	display: none;
}
.navbar li{
	margin-top: 10px;
	width: 308px;
	font-size: 24px;
}
.navbar li:hover{
	
}
.navbar ul li a:hover{
	color: #EDF5E1;
	background: #05386B;
	border-radius: 40px;
}
.navbar ul .mains ul .not a:hover{
	color: #EDF5E1;
	background: #05386B;
	border-radius: 40px;	
}
.navbar ul .mains ul .not:hover{
	color: #EDF5E1;
	background: #05386B;
	border-radius: 40px;	
}
.navbar li ul:hover{
	color: #EDF5E1;
	
}
.navbar li:hover > ul{
	display: block;	
	color: #EDF5E1;
}
.navbar li:hover > ul{
	transform-origin: top center;
	opacity: 0;
}
.navbar li:hover > ul:nth-child(1){
	animation: animate 300ms ease-in-out forwards;
	animation-delay: -450ms;
}
.navbar li:hover > ul:nth-child(2){
	animation: animate 600ms ease-in-out forwards;
	animation-delay: 0ms;
}
@keyframes animate{
	0%{
		opacity: 0;
		transform: rotateX(-90deg);
	}
	50%{
		transform: rotateX(20deg);
	}
	100%{
		opacity: 1;
		transform: rotateX(0deg);
	}
}
.bedding-line {
	padding-left: 250px;
	padding-top: 80px;
	padding-bottom: 300px;
	display: flex;
	z-index: 1000;
}
.texts {
	padding-left: 450px;
	margin-top: -140px;
	max-width: 1000px;
	color: #EDF5E1;
}
.bedding-title {
	font-family: EncodeSans-Bold;
	font-size: 90px;
	max-width: 1600px;
	padding-left: 450px;
	margin-top: -1420px;
	color: #EDF5E1;
}
.bedding-subtitle {
	font-family: EncodeSansNarrow-Light;
	font-size: 90px;
	max-width: 1600px;
	padding-left: 450px;
	margin-top: -20px;
	padding-bottom: 150px;
	color: #EDF5E1;
}
.bedding-content1 {
	padding-top: 40px;
	font-size: 25px;
	font-family: DroidSerif-Regular;
}
.image-text {
	margin-top: 150px;
}
.background-image {
	width: 100%;
	height: 100%;
}
.bedding-small-texts {
	font-family: DroidSerif-Bold;
	font-style: italic;
	font-size: 28px;
	color: #EDF5E1;
	padding-left: 450px;
	margin-top: -1800px;
	max-width: 830px;
}
.bedding2-title {
	font-family: EncodeSans-Bold;
	font-size: 96px;
	max-width: 1600px;
	padding-left: 650px;
	margin-top: 120px;
	color: #05386B;
}
.bedding2-title2 {
	font-family: EncodeSansNarrow-Light;
	font-size: 96px;
	max-width: 1600px;
	padding-left: 650px;
	margin-top: -20px;
	padding-bottom: 60px;
	color: #05386B;
}

/* types of hamster beddings*/
.bedding2-contents {
	padding-bottom: 150px;
	margin-top: 10px;
	max-width: 1550px;
	padding-left: 860px;
}
.bedding2-content {
	font-size: 25px;
	font-family: DroidSerif-Regular;
	color: #EDF5E1;
	padding-bottom: 30px;
	margin-top: 0px;
}
.bedding2-boldContent {
	font-size: 25px;
	font-family: DroidSerif-Bold;
	color: #EDF5E1;
	padding-bottom: 4px;
	margin-top: 0px;
}
.bedding2-numbers{
	font-size: 150px;
	font-family: SwissEk;
	color: #EDF5E1;
	margin-left: -190px;
	margin-top: -800px;
}
.bedding2-number{
	padding-bottom: 20px;
}
/*what is substrate*/
.image-text2 {
	padding-left:350px;
	padding-top:300px;
}
.background-image2 {
	padding-left:650px;
}
.bedding3-title {
	font-size: 100px;
	font-family: EncodeSans-Regular;	
	color: #EDF5E1;
	margin-top: -760px;
	text-align: right;
	max-width: 650px;
}
.bedding3-title2 {
	font-size: 100px;
	font-family: EncodeSans-Bold;	
	color: #EDF5E1;
	margin-top: -10px;
	text-align: right;
	max-width: 650px;
	padding-bottom:30px;
}
.bedding-small-content {
	font-size: 25px;
	font-family: DroidSerif-Regular;
	color: #EDF5E1;
	padding-bottom: 30px;
	margin-top: 0px;
	text-align: right;
	max-width: 650px;
}
.image-text3 {
	padding-left:263px;
	padding-top: 200px;
}
.background-image3 {
	
}
.bedding4-title {
	font-size: 100px;
	font-family: EncodeSans-Bold;	
	color: #EDF5E1;
	margin-top: -1080px;
	position: relative;
	z-index: 1000px;
	padding-left: 120px;
	
}
.bedding4-title2 {
	font-size: 100px;
	font-family: EncodeSans-Regular;	
	color: #EDF5E1;
	margin-top: -10px;
	padding-bottom:100px;
	padding-left: 120px;
}
.bedding-small-content1 {
	font-size: 25px;
	font-family: DroidSerif-Regular;
	color: #EDF5E1;
	padding-bottom: 30px;
	margin-top: 0px;
	max-width: 750px;
	padding-left: 120px;
}
.image-text4 {
	padding-left:263px;
	padding-top: 124px;
}
.bedding-line2 {
	padding-left: 1270px;
}
.line-container3 {
	margin-top: -950px;
	max-width: 750px;
	padding-left: 700px;
	
}
.bedding5-title {
	font-size: 100px;
	font-family: EncodeSans-Bold;	
	color: #EDF5E1;
	margin-top: 80px;
	position: relative;
	z-index: 1000px;
	max-width: 1100px;
	text-align: right;
}
.bedding5-title2 {
	font-size: 100px;
	font-family: EncodeSans-Regular;	
	color: #EDF5E1;
	margin-top: -10px;
	padding-bottom:100px;
	max-width: 1100px;
	text-align: right;
}
.bedding-small-content2 {
	font-size: 25px;
	font-family: DroidSerif-Regular;
	color: #EDF5E1;
	padding-bottom: 30px;
	margin-top: 0px;
	max-width: 1100px;
	padding-left: 400px;
	text-align: right;
}
.line3{
	width: 400px;
	height: 0px;
	position: relative;
	content = "";
	height: 2px;
	background: #EDF5E1;
	opacity: 50%;
}
.image-text5 {
	padding-top: 250px;
	padding-left: 250px;
}
.background-image4 {
	position:relative;
	z-index: -500;
}
.bedding1 {
	margin-left: -90px;
	position: absolute;
	margin-top: -30px;
}
.bedding2 {
	margin-left: -110px;
	position: absolute;
	margin-top: 500px;
}
.bedding3 {
	margin-left: -450px;
	position: absolute;
	margin-top: 1100px;
}
.bedding4 {
	margin-left: -1010px;
	position: absolute;
	margin-top: 1000px;
}
.bedding3-number1 {
	font-size: 150px;
	font-family: SwissEk;
	color: #5CDB94;
	margin-left: 890px;
	margin-top: -1150px;
}
.bedding3-number2 {
	font-size: 150px;
	font-family: SwissEk;
	color: #5CDB94;
	margin-left: 830px;
	margin-top: 220px;
}
.bedding3-number3 {
	font-size: 150px;
	font-family: SwissEk;
	color: #5CDB94;
	margin-left: 630px;
	margin-top: 300px;
}
.bedding3-number4 {
	font-size: 150px;
	font-family: SwissEk;
	color: #5CDB94;
	margin-left: 270px;
	margin-top: -260px;
}
.bedding1-nameBold {
	font-family: EncodeSans-Bold;
	font-size: 30px;
	color: #EDF5E1;
}
.bedding1-name {
	font-family: EncodeSans-Regular;
	font-size: 30px;
	color: #EDF5E1;
}
.bedding1-img {
	margin-top: -720px;
	padding-left: 1280px;
}
.bedding2-img {
	margin-top: 610px;
	padding-left: 1190px;
}
.bedding3-img {
	margin-top: 330px;
	padding-left: 1030px;
}
.bedding4-img {
	margin-top: 40px;
	margin-left: -30px;
}
.bedding6-title {
	font-size: 90px;
	font-family: EncodeSans-Bold;	
	color: #EDF5E1;
	margin-top: -1380px;
	position: relative;
	z-index: 1000px;
	padding-left: 120px;
}
.bedding6-title1 {
	font-size: 90px;
	font-family: EncodeSans-Bold;	
	color: #EDF5E1;
	margin-top: -30px;
	position: relative;
	z-index: 1000px;
	padding-left: 120px;
}
.bedding6-title2 {
	font-size: 90px;
	font-family: EncodeSans-Regular;	
	color: #EDF5E1;
	margin-top: -30px;
	position: relative;
	z-index: 1000px;
	padding-left: 120px;
	padding-bottom:50px;
}
.line-container2 {
	margin-top: -570px;
	padding-left: 450px;
	max-width: 900px;
	padding-bottom: 200px;
}
.line2{
	width: 400px;
	height: 2px;
	position: relative;
	content = "";
	background: #EDF5E1;
	opacity: 50%;
	padding-left: 500px;
}
.ending-img {
	margin-top: 1100px;
	padding-left: 1000px;
}
.ending-tip1 {
	margin-top: 40px;
	font-family: DroidSerif-Regular;
	font-style: italic;
	font-size: 30px;
	color: #EDF5E1;
	max-width: 1000px;
}
.ending-tip2 {
	margin-top: 20px;
	font-family: DroidSerif-Regular;
	font-style: italic;
	font-size: 30px;
	color: #EDF5E1;
	max-width: 1000px;
}
.ending-tip3 {
	margin-top: 20px;
	font-family: DroidSerif-Regular;
	font-style: italic;
	font-size: 30px;
	color: #EDF5E1;
	max-width: 1000px;
	margin-bottom: 20px;
}
.ending-logo {
	position: relative;
	padding-top: 20px;
	width: 60px;
	height: 80px;
	z-index: 5000;
}
.ending-logo1 {
	position: relative;
	padding-top: 20px;
	width: 60px;
	height: 80px;
	z-index: 5000;
}

.line1{
	max-width: 100%;
	height: 20px;
	position: relative;
	content = "";
	background: #EDF5E1;
}
/* scrollbar design */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #EDF5E1; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #EDF5E1; 
}
