*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}

@font-face { 
font-family: GothamHTF-Bold;
src: url(GothamHTF-Bold.otf);
}
@font-face { 
font-family: GothamHTF-Light;
src: url(GothamHTF-Light.otf);
}
body{
	min-height: 200vh;
	font-family: GothamHTF-Bold;
	max-width:1920px;
	background-color: #5CDB95;
	background-size:cover;
 	margin-left: auto;
  	margin-right: auto;
}
/* this is the navigation bar */
header{
	display: flex;
	position: fixed;
	top: 0;
	z-index: 10;
	align-content: center;
	transition:1s;
}
nav{
	margin-top: auto;
	min-width:1920px;
	background-color: #5CDB95;
	padding-bottom: 50px;
	padding-top: 10px;
	transition: 1s;
	height: 280px;
}
nav.sticky{
	padding-bottom: 0px;
	background-color: #8EE4AF;
	height: 110px;
}
nav.sticky .flexed2{
	display: flex;
	transition: 1s;
}
ul{
	list-style-type:none;
	
}
a{ /* anchored texts at the nav bar */
	color:white;
	text-decoration:none;
}

.flexed{
	transition: 1s;
}
/* this is the line above the cover photo */
.line-container{
	padding-left: 100px;
	padding-right: 100px;
}
.line{
	width: 1700px;
	height: 0px;
	position: relative;
	content = "";
	position: absolute;
	margin: auto;
	height: 2px;
	background: #fff;
	width 70%;
	top: 30%%;
	bottom: 0%;
	transition: 1s
}

/* this is the search box */
.search-box{
	position: absolute;
	top: 60%;
	right: 130px;
	transform: translate(-0%,-100%);
	background: #EDF5E1;
	height: 50px;
	border-radius: 40px;
	padding: 10px;
	transition: 1s;
}
header.sticky nav{
	padding-top: 3px;
	
}
header.sticky .line{
	width: 0;
	
}

.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
}
.search-box:hover > .search-btn{
	color: #EDF5E1;
	background: #05386B;
}
.search-btn{
	position: relative;
	color: #05386B;
	float: right;
	width: 30px;
	height: 30px;
	border-radius:50%;
	background: #EDF5E1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}
nav.sticky .search-box{
	top: 75%;
	right: 100px;
}
.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 20px;
	font-family: GothamHTF-Light;
	transition: 0.4s;
	line-height: 30px;
	width: 0px;
}

/* this is the slider */
.slider{
	width: 1920px;
	height: 900px;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
}
.slides input{
	display: none;
}
.slide{
	margin-top: 190px;
	width: 20%;
	transition: 3s;
}
.slide img{
	width: 1920px;
	height: 700px;
}

/* for manual sliding */
.navigation-manual{
	position: absolute;
	width: 1920px;
	margin-top: 830px;
	display: flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid  #EDF5E1;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	margin-right: 40px;
}
.manual-btn:hover{
	background: #EDF5E1;
}

#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}

/* for automatic sliding */
.navigation-auto{
	position: absolute;
	display:flex;
	width: 1920px;
	justify-content: center;
	margin-top: 830px;
}
.navigation-auto div{
	border: 2px solid  #EDF5E1;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.navigation-auto div:not(:last-child){
	margin-right: 40px
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #EDF5E1;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #EDF5E1;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #EDF5E1;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #EDF5E1;
}

.menu li{
	font-size: 20px;
	margin-right: 60px;
	margin-left: 0px;
}
.item a{	
	text-align: center;
	font-size: 28px;
	display:block;
	color: #05386B;
	text-transform: lowercase;
	cursor: pointer;
	transition: color 0.4s linear;
}
.item a:hover{ /* to put underline when cursor is hovering the anchored texts */   
	color: #EDF5E1;
}
.logo{
	margin-top: 50px;
	margin-left: 51px;
	width:720px;
	height: 130px;
	z-index: 5;
	transition: 1s;
}
nav.sticky .logo{
	margin-top: 3px;
	margin-left: 35px;
	width:560px;
	height: 100px;
	z-index: 5;
}
.menu{
	display:flex;
	align-items: center;	
	padding: 0px 10%;
	transition: 1s;
}
nav.sticky .menu{
	padding: 45px 5%;
}


